.author{
    font-style: italic;
    color: navy;
    font-weight: bold;
}

.btn{
    border-radius: 10px;
}
/* delete button styling */
.btnDelete{
    margin-left: 32%;
    border-radius: 25px;
    width: 25%;
    margin-top: -5%;
}