<!-- author -->
<p class="author"> {{quote.author}} </p>
<!-- upvotes and downvotes -->
<div class="d-flex justify-content-around mb-4">
    <div class="d-flex">
        <button class="btn btn-success me-4" (click)="upvotes()">Likes</button>
        <p class="fs-3">{{quote.upvotes}}</p>
    </div>
    <div class="d-flex">
        <button class="btn btn-danger me-4" (click)="downvotes()">Dislikes</button>
        <p class="fs-3"> {{quote.downvotes}}</p>
    </div>
</div>
<!-- delete button -->
<button class="btnDelete btn-dark" (click)="deleteQuote(true)"> Delete </button>