<!-- author -->
<p class="author"> {{quote.author}} </p>
<!-- upvotes and downvotes -->

<div class="d-flex justify-content-evenly">
    <div class="">
        <button class="btn-sm like" (click)="upvotes()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{quote.upvotes}}</button>
    </div>
    <div class="">
        <button class="btn-sm dislike" label="decline" (click)="downvotes()"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>{{quote.downvotes}}</button>
    </div>
<!-- delete button -->
<button class="btnDelete delete btn-sm" (click)="deleteQuote(true)"><i class="fa fa-trash" aria-hidden="true"></i></button>
</div>