.card{
    margin-bottom: 5%;
    background-color: rgb(243, 243, 243);
    opacity: 0.5;
    color: black;
    font-size: 20px;
    margin-left: 15%;
    margin: 1%;
    
}

.card p {
    font-style: italic;
    color: navy;
    font-weight: bold;
}


.mycards{
    display: flex;
    justify-content: space-around;
    width: 80rem;
    margin-left:-25%;
    margin-bottom: 5%;
    justify-content: space-between;
    height: 65vh;
    

    
}
