/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../src/assets/quotes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

/* heading */
h1{
    color: rgb(212, 97, 142);
    text-align: center;
    margin: 3%;
    font-style: italic;
    font-size: 4rem;
}
