<div class="container">
    <form action="" (ngSubmit)="submitQuote()" #quoteForm="ngForm" class="mx-auto">
    <h3 class="text-center"> Add a New Quote </h3>
        <div class="form-group input-field">
            <label for="title"> QuoteTitle: </label>
            <input type="text" class="form-control" id="title" placeholder="Your title" [(ngModel)]="newQuote.title"
                name="title" #title="ngModel" required>
            display {{newQuote.title}}
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger"></div>
        </div>
        <div class="form-group input-field">
            <label for="tauthor"> Author: </label>
            <input type="text" class="form-control" id="author" placeholder="Author" [(ngModel)]="newQuote.author"
                name="author" #author="ngModel" required>
            display Author {{newQuote.author}}
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger"></div>
        </div>
        <div class="form-group input-field">
            <label for="quote"> Quote: </label>
            <textarea type="text" class="form-control" id="quote" [(ngModel)]="newQuote.quote"
                name="quote" #quote="ngModel" required> </textarea>
            <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger"></div>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-success mb-5 mt-5">Add Quote </button>
        </div>
    </form>
</div>
