.container h3{
    color: rgb(245, 230, 241);
    text-decoration: double;
}

.container{
    width: 80%;
    background-color: #0000E0;
    opacity: 0.7;
}
label {
    margin-bottom: 5%;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

#quote{
    height: 30vh;
}

.alert-danger{
    background-color: red;
}